<h1>Refresh Counts</h1>

<p>If you believe the counts on your profile are incorrect, you can request a refresh to recalculate them.</p>

<%= form_tag(users_count_fixes_path) do %>
  <%= submit_tag "Continue" %>
<% end %>

<% content_for(:page_title) do %>
  Refresh Counts
<% end %>
