<span class="tag-relationship" data-relationship-route="<%= send("#{tag_relation.model_name.route_key}_path")[1..] %>"
                               data-relationship-human="<%= tag_relation.model_name.singular.titleize %>"
                               data-relationship-id="<%= tag_relation.id %>">
  <% links = [] %>
  <% if with_show_link %>
    <% links.push(link_to("Show", { controller: send("#{tag_relation.model_name.route_key}_path"), id: tag_relation.id, action: :show })) %>
  <% end %>
  <% if tag_relation.approvable_by?(CurrentUser.user) %>
    <% links.push(link_to("Approve", "#", class: "tag-relationship-accept")) %>
  <% end %>
  <% if tag_relation.rejectable_by?(CurrentUser.user) %>
    <% links.push(link_to("Reject", "#", class: "tag-relationship-reject")) %>
  <% end %>
  <% if tag_relation.editable_by?(CurrentUser.user) %>
    <% links.push(link_to("Edit", { controller: send("#{tag_relation.model_name.route_key}_path"), id: tag_relation.id, action: :edit })) %>
  <% end %>
  <%= safe_join(links, " | ") %>
</span>
