openapi: "3.1.0"
info:
  title: "PawsMovin"
  version: "1"
  termsOfService: "https://pawsmov.in/static/terms_of_service"
  license:
    name: MIT
    url: "https://opensource.org/licenses/MIT"

servers:
  - url: "https://pawsmov.in"
    description: "Production Server"
  - url: "http://localhost:3001"
    description: "Development server"

x-constants:
  - &modaction-actions
    - artist_lock
    - artist_rename
    - artist_unlock
    - artist_user_link
    - artist_user_unlink
    - ban_create
    - ban_delete
    - ban_update
    - comment_delete
    - comment_hide
    - comment_unhide
    - comment_update
    - post_deletion_reason_create
    - post_deletion_reason_delete
    - post_deletion_reasons_reorder
    - post_deletion_reason_update
    - post_replacement_rejection_reason_create
    - post_replacement_rejection_reason_delete
    - post_replacement_rejection_reasons_reorder
    - forum_topic_stick
    - forum_topic_update
    - forum_topic_unhide
    - forum_topic_unlock
    - forum_topic_unstick
    - help_create
    - help_delete
    - help_update
    - mascot_create
    - mascot_delete
    - mascot_update
    - mass_update
    - nuke_tag
    - pool_delete
    - set_change_visibility
    - set_delete
    - set_update
    - tag_alias_create
    - tag_alias_update
    - tag_implication_create
    - tag_implication_update
    - takedown_process
    - takedown_delete
    - ticket_claim
    - ticket_unclaim
    - ticket_update
    - upload_whitelist_create
    - upload_whitelist_delete
    - upload_whitelist_update
    - user_blacklist_change
    - user_delete
    - user_flags_change
    - user_level_change
    - user_name_change
    - user_text_change
    - user_upload_limit_change
    - user_feedback_create
    - user_feedback_delete
    - user_feedback_update
    - wiki_page_delete
    - wiki_page_lock
    - wiki_page_rename
    - wiki_page_unlock
    - rule_create
    - rule_delete
    - rules_reorder
    - rule_update
    - rule_category_create
    - rule_category_delete
    - rule_categories_reorder
    - rule_category_update
    - quick_rule_create
    - quick_rule_delete
    - quick_rules_reorder
    - quick_rule_update
    - avoid_posting_create
    - avoid_posting_deactivate
    - avoid_posting_delete
    - avoid_posting_reactivate
    - avoid_posting_update
  - &modaction-classes
    - Artist
    - AvoidPosting
    - Ban
    - BulkUpdateRequest
    - Comment
    - ForumCategory
    - ForumPost
    - ForumTopic
    - Help
    - Mascot
    - Pool
    - PostDeletionReason
    - PostReplacementRejectionReason
    - PostSet
    - QuickRule
    - RuleCategory
    - Rule
    - TagAlias
    - TagImplication
    - Takedown
    - Ticket
    - UploadWhitelist
    - UserFeedback
    - User
    - WikiPage
  - &auditlog-actions
    - force_name_change
    - min_upload_level_change
    - post_owner_reassign
    - stuck_dnp
    - user_title_change
    - ip_ban_create
    - ip_ban_delete
    - staff_note_create
    - staff_note_update
    - staff_note_delete
    - staff_note_undelete
    - comment_vote_delete
    - comment_vote_lock
    - post_vote_delete
    - post_vote_lock
    - forum_post_vote_delete
  - &post-event-actions
    - deleted
    - undeleted
    - approved
    - unapproved
    - flag_created
    - flag_removed
    - favorites_moved
    - favorites_received
    - rating_locked
    - rating_unlocked
    - status_locked
    - status_unlocked
    - note_locked
    - note_unlocked
    - replacement_accepted
    - replacement_rejected
    - replacement_promoted
    - replacement_deleted
    - expunged
    - comment_disabled
    - comment_enabled
    - comment_locked
    - comment_unlocked
    - changed_bg_color
  - &ratings
    - s
    - q
    - e
  - &tag-categories
    - 0 #general
    - 1 # artist
    - 2 # voice actor
    - 3 # copyright
    - 4 # character
    - 5 # species
    - 6 # invalid
    - 7 # meta
    - 8 # lore
  - &feedback-categories
    - negative
    - neutral
    - positive
  - &tag-request-statuses
    - active
    - deleted
    - processing
    - queued
    - retired
    - error
    - pending
  - &notification-categories
    - new_post

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  parameters:
    id:
      name: search[id]
      in: query
      description: Search for a specific id.
      schema:
        type: number
    limit:
      name: limit
      in: query
      description: The maximum number of results to return. Between 0 and 500.
      schema:
        type: number
        minimum: 0
        maximum: 500
    page:
      name: page
      in: query
      description: The page number of results to get. Between 1 and 1000.
      schema:
        type: number
        minimum: 1
        maximum: 1000
    ip_addr:
      name: search[ip_addr]
      in: query
      description: Must be Admin+ to use. See [postgres' documentation](https://www.postgresql.org/docs/9.3/functions-net.html) for information on how this is parsed. Specifically, "is contained within or equals" (`<<=`).
      schema:
        type: string
  schemas:
    Artist:
      type: object
      required:
        - created_at
        - creator_id
        - id
        - is_locked
        - linked_user_id
        - name
        - notes
        - other_names
        - updated_at
      properties:
        created_at:
          type: string
          format: date-time
        creator_id:
          type: number
        id:
          type: number
        is_locked:
          type: boolean
        linked_user_id:
          type: ["number", "null"]
        name:
          type: string
        notes:
          type: ["string", "null"]
        other_names:
          type: array
          items:
            type: string
        updated_at:
          type: string
          format: date-time
    ArtistURL:
      type: object
      required:
        - artist_id
        - created_at
        - id
        - is_active
        - updated_at
        - url
        - normalized_url
      properties:
        artist_id:
          type: number
        created_at:
          type: string
          format: date-time
        id:
          type: number
        is_active:
          type: boolean
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: "uri"
        normalized_url:
          type: string
          format: "uri"
    ArtistVersion:
      type: object
      required:
        - id
        - artist_id
        - name
        - updater_id
        - created_at
        - updated_at
        - other_names
        - urls
        - notes_changed
      properties:
        id:
          type: number
        artist_id:
          type: number
        name:
          type: string
        updater_id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        other_names:
          type: array
          items:
            type: string
        urls:
          type: array
          items:
            type: string
            format: uri
        notes_changed:
          type: boolean
    AvoidPosting:
      type: object
      required:
        - id
        - creator_id
        - updater_id
        - artist_name
        - details
        - is_active
        - created_at
        - updated_at
      properties:
        id:
          type: number
        creator_id:
          type: number
        updater_id:
          type: number
        artist_name:
          type: string
        staff_notes:
          type: string
          description: Only visible to Janitor+
        details:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AvoidPostingVersion:
      type: object
      required:
        - id
        - updater_id
        - avoid_posting_id
        - artist_name
        - details
        - is_active
        - updated_at
      properties:
        id:
          type: number
        updater_id:
          type: number
        avoid_posting_id:
          type: number
        artist_name:
          type: string
        details:
          type: string
        staff_notes:
          type: string
          description: Only visible to Janitor+
        is_active:
          type: boolean
        updated_at:
          type: string
          format: date-time
    Ban:
      type: object
      required:
        - id
        - user_id
        - reason
        - banner_id
        - expires_at
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        reason:
          type: string
        banner_id:
          type: number
        expires_at:
          type: ["string", "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BulkRelatedTag:
      allOf:
        - $ref: "#/components/schemas/RelatedTag"
        - type: object
          required:
            - count
          properties:
            count:
              type: number
    BulkUpdateRequest:
      type: object
      required:
        - id
        - creator_id
        - forum_topic_id
        - forum_post_id
        - script
        - status
        - created_at
        - updated_at
        - approver_id
        - title
      properties:
        id:
          type: number
        creator_id:
          type: number
        forum_topic_id:
          type: ["number", "null"]
        forum_post_id:
          type: ["number", "null"]
        script:
          type: string
          examples:
            - "alias a -> b"
        status:
          type: string
          enum:
            - approved
            - rejected
            - pending
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        approver_id:
          type: ["number", "null"]
        title:
          type: string
    Comment:
      type: object
      required:
        - id
        - post_id
        - creator_id
        - body
        - score
        - created_at
        - updated_at
        - updater_id
        - do_not_bump_post
        - is_hidden
        - is_sticky
        - warning_type
        - warning_user_id
        - creator_name
        - updater_name
      properties:
        id:
          type: number
        post_id:
          type: number
        creator_id:
          type: number
        body:
          type: string
        score:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: number
        do_not_bump_post:
          type: boolean
          deprecated: true
        is_hidden:
          type: boolean
        is_sticky:
          type: boolean
        warning_type:
          type: ["string", "null"]
          enum:
            - warning
            - record
            - ban
        warning_user_id:
          type: ["number", "null"]
        creator_name:
          type: string
        updater_name:
          type: string
    CommentVote:
      allOf:
        - $ref: "#/components/schemas/LockableUserVote"
        - type: object
          required:
            - comment_id
          properties:
            comment_id:
              type: number
    CurrentUser:
      allOf:
        - $ref: "#/components/schemas/FullUser"
        - type: object
          required:
            - recent_tags
            - last_logged_in_at
            - last_forum_read_at
            - email
            - comment_threshold
            - default_image_size
            - favorite_tags
            - blacklisted_tags
            - time_zone
            - per_page
            - custom_style
            - api_regen_multiplier
            - api_burst_limit
            - remaining_api_limit
            - statement_timeout
            - favorite_limit
            - tag_query_limit
            - has_mail
            - description_collapsed_initially
            - hide_comments
            - show_hidden_comments
            - receive_email_notifications
            - enable_keyboard_navigation
            - enable_privacy_mode
            - style_usernames
            - enable_autocomplete
            - disable_cropped_thumbnails
            - enable_safe_mode
            - disable_responsive_mode
            - enable_compact_uploader
            - move_related_thumbnails
            - enable_hover_zoom
            - hover_zoom_shift
            - hover_zoom_sticky_shift
            - hover_zoom_play_audio
            - show_post_uploader
            - go_to_recent_forum_post
            - disable_colors
          properties:
            recent_tags:
              type: ["string", "null"]
            last_logged_in_at:
              type: string
              format: date-time
            last_forum_read_at:
              type: string
              format: date-time
            email:
              type: string
            comment_threshold:
              type: number
            default_image_size:
              type: string
            favorite_tags:
              type: string
            blacklisted_tags:
              type: string
            time_zone:
              type: string
            per_page:
              type: number
            custom_style:
              type: string
            api_regen_multiplier:
              type: number
            api_burst_limit:
              type: number
            remaining_api_limit:
              type: number
            statement_timeout:
              type: number
            favorite_limit:
              type: number
            tag_query_limit:
              type: number
            has_mail:
              type: boolean
            description_collapsed_initially:
              type: boolean
            hide_comments:
              type: boolean
            show_hidden_comments:
              type: boolean
            receive_email_notifications:
              type: boolean
            enable_keyboard_navigation:
              type: boolean
            enable_privacy_mode:
              type: boolean
            style_usernames:
              type: boolean
            enable_autocomplete:
              type: boolean
            disable_cropped_thumbnails:
              type: boolean
            enable_safe_mode:
              type: boolean
            disable_responsive_mode:
              type: boolean
            enable_compact_uploader:
              type: boolean
            move_related_thumbnails:
              type: boolean
            enable_hover_zoom:
              type: boolean
            hover_zoom_shift:
              type: boolean
            hover_zoom_sticky_shift:
              type: boolean
            hover_zoom_play_audio:
              type: boolean
            show_post_uploader:
              type: boolean
            go_to_recent_forum_post:
              type: boolean
            disable_colors:
              type: boolean
    DMail:
      type: object
      required:
        - id
        - owner_id
        - from_id
        - to_id
        - title
        - body
        - is_read
        - is_deleted
        - created_at
        - updated_at
      properties:
        id:
          type: number
        owner_id:
          type: number
        from_id:
          type: number
        to_id:
          type: number
        title:
          type: string
        body:
          type: string
        is_read:
          type: boolean
        is_deleted:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DMailFilter:
      type: object
      required:
        - id
        - user_id
        - words
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        words:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DeferredPost:
      type: object
      required:
        - created_ago
        - created_at
        - down_score
        - file_ext
        - file_size
        - flags
        - height
        - id
        - preview_height
        - preview_width
        - rating
        - score
        - status
        - tags
        - up_score
        - uploader
        - uploader_id
        - width
      properties:
        created_ago:
          type: string
        created_at:
          type: string
        down_score:
          type: number
        file_ext:
          type: string
        file_size:
          type: number
        flags:
          type: string
        height:
          type: number
        id:
          type: number
        preview_height:
          type: number
        preview_width:
          type: number
        rating:
          type: string
          enum: *ratings
        score:
          type: number
        status:
          type: string
          enum:
            - active
            - deleted
            - flagged
            - pending
        tags:
          type: string
        up_score:
          type: number
        uploader:
          type: string
        uploader_id:
          type: number
        width:
          type: number
        md5:
          type: string
        preview_file_url:
          type: string
        large_file_url:
          type: string
        cropped_file_url:
          type: string
        file_url:
          type: string
    DTextResponse:
      type: object
      required:
        - html
        - posts
      properties:
        html:
          type: string
        posts:
          type: object
          patternProperties:
            "^0-9+$":
              $ref: "#/components/schemas/DeferredPost"
    EmailBlacklist:
      type: object
      reequired:
        - id
        - created_at
        - updated_at
        - domain
        - creator_id
        - reason
      properties:
        id:
          type: number
        created_at:
          type: string
        updated_at:
          type: string
        domain:
          type: string
        creator_id:
          type: string
        reason:
          type: string
    ForumCategory:
      type: object
      required:
        - id
        - name
        - order
        - can_view
        - can_create
      properties:
        id:
          type: number
        name:
          type: string
        order:
          type: number
        can_view:
          type: number
        can_create:
          type: number
    ForumPost:
      type: object
      required:
        - id
        - topic_id
        - creator_id
        - updater_id
        - body
        - is_hidden
        - created_at
        - updated_at
        - warning_type
        - warning_user_id
        - tag_change_request_id
        - tag_change_request_type
      properties:
        id:
          type: number
        topic:
          type: number
        creator_id:
          type: number
        updater_id:
          type: number
        body:
          type: string
        is_hidden:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        warning_type:
          type: ["string", "null"]
          enum:
            - warning
            - record
            - ban
        warning_user_id:
          type: ["number", "null"]
        tag_change_request_id:
          type: ["number", "null"]
        tag_change_request_type:
          type: ["string", "null"]
          enum:
            - BulkUpdateRequest
            - TagAlias
            - TagImplication
    ForumPostVote:
      allOf:
        - $ref: "#/components/schemas/UserVote"
        - type: object
          required:
            - forum_post_id
          properties:
            forum_post_id:
              type: number
    ForumTopic:
      type: object
      required:
        - id
        - creator_id
        - updater_id
        - title
        - response_count
        - is_sticky
        - is_locked
        - is_hidden
        - created_at
        - updated_at
        - category_id
        - last_post_created_at
      properties:
        id:
          type: number
        creator_id:
          type: number
        updater_id:
          type: number
        title:
          type: string
        response_count:
          type: number
        is_sticky:
          type: boolean
        is_locked:
          type: boolean
        is_hidden:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        category_id:
          type: number
        last_post_created_at:
          type: ["string", "null"]
          format: date-time
    FullUser:
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          required:
            - wiki_page_version_count
            - artist_version_count
            - pool_version_count
            - forum_post_count
            - comment_count
            - flag_count
            - favorite_count
            - positive_feedback_count
            - neutral_feedback_count
            - negative_feedback_count
            - upload_limit
            - profile_about
            - profile_artinfo
          properties:
            wiki_page_version_count:
              type: number
            artist_version_count:
              type: number
            pool_version_count:
              type: number
            forum_post_count:
              type: number
            comment_count:
              type: number
            favorite_count:
              type: number
            positive_feedback_count:
              type: number
            neutral_feedback_count:
              type: number
            negative_feedback_count:
              type: number
            upload_limit:
              type: number
            profile_about:
              type: string
            profile_artinfo:
              type: string
    Help:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - name
        - wiki_page
        - related
        - title
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        name:
          type: string
        wiki_page:
          type: string
        related:
          type: string
        title:
          type: string
    IPBan:
      type: object
      required:
        - id
        - creator_id
        - ip_addr
        - reason
        - created_at
        - updated_at
      properties:
        id:
          type: number
        creator_id:
          type: number
        ip_addr:
          type: string
        reason:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    IQDBResponse:
      type: object
      required:
        - hash
        - post_id
        - score
        - post
      properties:
        hash:
          type: string
        post_id:
          type: number
        score:
          type: number
        post:
          $ref: "#/components/schemas/Post"
    LockableUserVote:
      allOf:
        - $ref: "#/components/schemas/UserVote"
        - type: object
          required:
            - is_locked
          properties:
            is_locked:
              type: boolean
    Mascot:
      type: object
      required:
        - id
        - creator_id
        - display_name
        - md5
        - file_ext
        - background_color
        - artist_url
        - artist_name
        - active
        - created_at
        - updated_at
        - available_on
        - url_path
      properties:
        id:
          type: number
        creator_id:
          type: number
        display_name:
          type: string
        md5:
          type: string
        file_ext:
          type: string
        background_color:
          type: string
        artist_url:
          type: string
          format: uri
        artist_name:
          type: string
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        available_on:
          type: array
          items:
            type: string
        url_path:
          type: string
          format: uri
    ModAction:
      type: object
      required:
        - id
        - creator_id
        - created_at
        - updated_at
        - action
        - subject_id
        - subject_type
      properties:
        id:
          type: number
        creator_id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        action:
          type: string
          enum: *modaction-actions
        subject_id:
          type: ["number", "null"]
        subject_type:
          type: ["string", "null"]
          enum: *modaction-classes
        user_id:
          type: number
          description: |
            Valid for: `artist_user_link`, `artist_user_unlink`, `ban_create`, `ban_delete`, `ban_update`, `comment_delete`, `comment_hide`, `comment_unhide`, `comment_update`, `post_deletion_reason_delete`, `post_replacement_rejection_reason_delete`, `forum_post_delete`, `forum_post_hide`, `forum_post_unhide`, `forum_post_update`, `forum_topic_delete`, `forum_topic_hide`, `forum_topic_lock`, `forum_topic_move`, `forum_topic_stick`, `forum_topic_update`, `forum_topic_unhide`, `forum_topic_unlock`, `forum_topic_unstick`, `pool_delete`, `set_change_visibility`, `set_delete`, `set_update`, `user_feedback_create`, `user_feedback_delete`, `user_feedback_update`
        name:
          type: string
          description: |
            Valid for: `help_create`, `help_delete`, `help_update`, `rule_create`, `rule_delete`, `rule_update`, `rule_category_create`, `rule_category_delete`, `rule_category_update`
        total:
          type: number
          description: |
            Valid for: `post_deletion_reasons_reorder`, `post_replacement_rejection_reasons_reorder`, `rules_reorder`, `rule_categories_reorder`, `quick_rules_reorder`
        tag_name:
          type: string
          description: |
            Valid for: `nuke_tag`
        change_desc:
          type: string
          description: |
            Valid for: `tag_alias_update`, `tag_implication_update`
        reason:
          type: string
          description: |
            Valid for: `ban_update`, `post_deletion_reason_create`, `post_deletion_reason_delete`, `post_deletion_reason_update`, `post_replacement_rejection_reason_create`, `post_replacement_rejection_reason_delete`, `post_replacement_rejection_reason_update`, `user_feedback_create`, `user_feedback_delete`, `user_feedback_update`, `quick_rule_create`,  `quick_rule_delete`, `quick_rule_update`
        old_reason:
          type: string
          description: |
            Valid for: `ban_update`, `post_deletion_reason_update`, `post_replacement_rejection_reason_update`, `user_feedback_update`, `quick_rule_update`
        header:
          type: string
          description: |
            Valid for: `quick_rule_create`, `quick_rule_delete`, `quick_rule_update`
        old_header:
          type: string
          description: |
            Valid for: `quick_rule_update`
        description:
          type: string
          description: |
            Valid for: `rule_create`, `rule_update`
        old_description:
          type: string
          description: |
            Valid for: `rule_update`
        antecedent:
          type: string
          description: |
            Valid for: `mass_update`
        consequent:
          type: string
          description: |
            Valid for: `consequent`
        alias_desc:
          type: string
          description: |
            Valid for: `tag_alias_create`, `tag_alias_update`
        implication_desc:
          type: string
          description: |
            Valid for: `tag_implication_create`, `tag_implication_update`
        is_public:
          type: boolean
          description: |
            Valid for: `set_change_visibility`
        added:
          type: array
          description: |
            Valid for: `user_flags_change`
          items:
            type: string
        removed:
          type: array
          description: |
            Valid for: `user_flags_change`
          items:
            type: string
        level:
          type: number
          description: |
            Valid for: `user_level_change`
        old_level:
          type: number
          description: |
            Valid for: `user_level_change`
        upload_limit:
          type: number
          description: |
            Valid for: `user_upload_limit_change`
        old_upload_limit:
          type: number
          description: |
            Valid for: `user_upload_limit_change`
        new_name:
          type: string
          description: |
            Valid for: `artist_rename`
        old_name:
          type: string
          description: |
            Valid for: `artist_rename`, `rule_update`, `rule_category_update`
        duration:
          type: string
          description: |
            Valid for: `ban_create`
        expires_at:
          type: string
          description: |
            Valid for: `ban_update`
          format: date-time
        old_expires_at:
          type: string
          description: |
            Valid for: `ban_update`
          format: date-time
        forum_category_id:
          type: number
          description: |
            Valid for: `forum_topic_move`
        old_forum_category_id:
          type: number
          description: |
            Valid for: `forum_topic_move`
        forum_category_name:
          type: string
          description: |
            Valid for: `forum_topic_move`, `forum_category_create`, `forum_category_delete`, `forum_category_update`
        old_forum_category_name:
          type: string
          description: |
            Valid for: `forum_topic_move`, `forum_category_update`
        can_view:
          type: number
          description: |
            Valid for: `forum_category_create`, `forum_category_delete`, `forum_category_update`
        old_can_view:
          type: number
          description: |
            Valid for: `forum_category_update`
        can_create:
          type: number
          description: |
            Valid for: `forum_category_create`, `forum_category_delete`, `forum_category_update`
        old_can_create:
          type: number
          description: |
            Valid for: `forum_category_update`
        forum_topic_id:
          type: number
          description: |
            Valid for: `forum_post_delete`, `forum_post_hide`, `forum_post_unhide`, `forum_post_update`
        forum_topic_title:
          type: string
          description: |
            Valid for: `forum_topic_delete`, `forum_topic_hide`, `forum_topic_lock`, `forum_topic_move`, `forum_topic_stick`, `forum_topic_update`, `forum_topic_update`, `forum_topic_unhide`, `forum_topic_unlock`, `forum_topic_unstick`
        pool_name:
          type: string
          description: |
            Valid for: `pool_delete`
        pattern:
          type: string
          description: |
            Valid for: `upload_whitelist_create`, `upload_whitelist_delete`, `upload_whitelist_update`
        old_pattern:
          type: string
          description: |
            Valid for: `upload_whitelist_update`
        note:
          type: string
          description: |
            Valid for: `upload_whitelist_create`, `upload_whitelist_delete`, `upload_whitelist_update`
        hidden:
          type: boolean
          description: |
            Valid for: `upload_whitelist_create`, `upload_whitelist_delete`, `upload_whitelist_update`
        type:
          type: string
          description: |
            Valid for: `user_feedback_create`, `user_feedback_delete`, `user_feedback_update`
          enum: *feedback-categories
        old_type:
          type: string
          description: |
            Valid for: `user_feedback_update`
          enum: *feedback-categories
        wiki_page:
          type: string
          description: |
            Valid for: `help_create`, `help_delete`, `help_update`
        wiki_page_title:
          type: string
          description: |
            Valid for: `wiki_page_delete`, `wiki_page_lock`, `wiki_page_rename`, `wiki_page_unlock`
        old_title:
          type: string
          description: |
            Valid for: `post_deletion_reason_update`, `wiki_page_rename`
        category_name:
          type: string
          description: |
            Valid for: `rule_create`, `rule_delete`, `rule_update`
        old_category_name:
          type: string
          description: |
            Valid for: `rule_update`
        prompt:
          type: string
          description: |
            Valid for: `post_deletion_reason_update`
        old_prompt:
          type: string
          description: |
            Valid for: `post_deletion_reason_update`
        title:
          type: string
          description: |
            Valid for: `post_deletion_reason_update`
        artist_name:
          type: string
          description: |
            Valid for: `avoid_posting_create`, `avoid_posting_deactivate`, `avoid_posting_delete`, `avoid_posting_reactivate`, `avoid_posting_update`

    NewsUpdate:
      type: object
      required:
        - id
        - message
        - creator_id
        - updater_id
        - created_at
        - updated_at
      properties:
        id:
          type: number
        message:
          type: string
        creator_id:
          type: number
        updater_id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Note:
      type: object
      required:
        - id
        - creator_id
        - post_id
        - x
        - y
        - width
        - height
        - is_active
        - body
        - created_at
        - updated_at
        - version
        - creator_name
      properties:
        id:
          type: number
        creator_id:
          type: number
        post_id:
          type: number
        x:
          type: number
        y:
          type: number
        width:
          type: number
        height:
          type: number
        is_active:
          type: boolean
        body:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        version:
          type: number
        creator_name:
          type: string
    NoteVersion:
      type: object
      required:
        - id
        - note_id
        - post_id
        - updater_id
        - x
        - y
        - width
        - height
        - is_active
        - body
        - created_at
        - updated_at
        - version
      properties:
        id:
          type: number
        note_id:
          type: number
        post_id:
          type: number
        updater_id:
          type: number
        x:
          type: number
        y:
          type: number
        width:
          type: number
        height:
          type: number
        is_active:
          type: boolean
        body:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        version:
          type: number
    Notification:
      type: object
      required:
        - id
        - user_id
        - category
        - data
        - is_read
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        category:
          type: string
          enum: *notification-categories
        data:
          $ref: "#/components/schemas/NotificationData"
        is_read:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    NotificationData:
      type: object
      properties:
        post_id:
          type: number
          description: |
            Valid for: `new_post`
        tag_name:
          type: string
          description: |
            Valid for: `new_post`
    Pool:
      type: object
      required:
        - id
        - name
        - creator_id
        - description
        - is_active
        - post_ids
        - created_at
        - updated_at
        - artists
        - creator_name
        - post_count
      properties:
        id:
          type: number
        name:
          type: string
        creator_id:
          type: number
        description:
          type: string
        is_active:
          type: boolean
        post_ids:
          type: array
          items:
            type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        artists:
          type: array
          items:
            type: string
        creator_name:
          type: string
        post_count:
          type: number
    PoolVersion:
      type: object
      required:
        - id
        - pool_id
        - post_ids
        - added_post_ids
        - removed_post_ids
        - updater_id
        - description
        - description_changed
        - name
        - name_changed
        - created_at
        - updated_at
        - is_active
        - version
      properties:
        id:
          type: number
        pool_id:
          type: number
        post_ids:
          type: array
          items:
            type: number
        added_post_ids:
          type: array
          items:
            type: number
        removed_post_ids:
          type: array
          items:
            type: number
        updater_id:
          type: number
        description:
          type: string
        description_changed:
          type: boolean
        name:
          type: string
        name_changed:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        version:
          type: number
    PopularSearch:
      type: object
      required:
        - tag
        - count
      properties:
        tag:
          type: string
        count:
          type: number
    Post:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - file
        - preview
        - sample
        - score
        - views
        - tags
        - locked_tags
        - change_seq
        - flags
        - rating
        - fav_count
        - sources
        - pools
        - relationships
        - approver_id
        - uploader_id
        - description
        - comment_count
        - is_favorited
        - own_vote
        - has_notes
        - duration
        - upload_fur
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        file:
          type: object
          required:
            - width
            - height
            - ext
            - size
            - md5
            - url
          properties:
            width:
              type: number
            height:
              type: number
            ext:
              type: string
            size:
              type: number
            md5:
              type: string
            url:
              type: ["string", "null"]
        preview:
          type: object
          required:
            - width
            - height
            - url
          properties:
            width:
              type: number
            height:
              type: number
            url:
              type: ["string", "null"]
        sample:
          type: object
          required:
            - has
            - height
            - width
            - url
            - alternates
          properties:
            has:
              type: boolean
            height:
              type: ["number", "null"]
            width:
              type: ["number", "null"]
            url:
              type: ["string", "null"]
            alternates:
              type: object
              properties:
                480p:
                  $ref: "#/components/schemas/PostSampleAlternate"
                720p:
                  $ref: "#/components/schemas/PostSampleAlternate"
                original:
                  $ref: "#/components/schemas/PostSampleAlternate"
        score:
          type: object
          required:
            - up
            - down
            - total
          properties:
            up:
              type: number
            down:
              type: number
            total:
              type: number
        views:
          type: object
          required:
            - daily
            - total
          properties:
            daily:
              type: number
            total:
              type: number
        tags:
          type: object
          required:
            - general
            - artist
            - voice_actor
            - copyright
            - character
            - species
            - invalid
            - meta
            - lore
          properties:
            general:
              type: array
              items:
                type: string
            artist:
              type: array
              items:
                type: string
            voice_actor:
              type: array
              items:
                type: string
            copyright:
              type: array
              items:
                type: string
            character:
              type: array
              items:
                type: string
            species:
              type: array
              items:
                type: string
            invalid:
              type: array
              items:
                type: string
            meta:
              type: array
              items:
                type: string
            lore:
              type: array
              items:
                type: string
        locked_tags:
          type: ["array", "null"]
          items:
            type: string
        change_seq:
          type: number
        flags:
          type: object
          required:
            - pending
            - flagged
            - note_locked
            - status_locked
            - rating_locked
            - deleted
          properties:
            pending:
              type: boolean
            flagged:
              type: boolean
            note_locked:
              type: boolean
            status_locked:
              type: boolean
            rating_locked:
              type: boolean
            deleted:
              type: boolean
        rating:
          type: string
          enum: *ratings
        fav_count:
          type: number
        sources:
          type: array
          items:
            type: string
        pools:
          type: array
          items:
            type: number
        relationships:
          type: object
          required:
            - parent_id
            - has_children
            - has_active_children
            - children
          properties:
            parent_id:
              type: ["number", "null"]
            has_children:
              type: boolean
            has_active_children:
              type: boolean
            children:
              type: array
              items:
                type: number
        approver_id:
          type: ["number", "null"]
        uploader_id:
          type: number
        description:
          type: string
        comment_count:
          type: number
        is_favorited:
          type: boolean
        own_vote:
          type: ["number", "null"]
          description: 0 is locked.
          enum:
            - -1
            - 0
            - 1
        has_notes:
          type: boolean
        duration:
          type: ["number", "null"]
        upload_url:
          type: string
    PostApproval:
      type: object
      required:
        - id
        - user_id
        - post_id
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        post_id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostDeletionReason:
      type: object
      required:
        - id
        - creator_id
        - reason
        - title
        - prompt
        - order
        - created_at
        - updated_at
      properties:
        id:
          type: number
        creator_id:
          type: number
        reason:
          type: ["string", "null"]
        title:
          type: ["string", "null"]
        prompt:
          type: ["string", "null"]
        order:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostDisapproval:
      type: object
      required:
        - id
        - user_id
        - post_id
        - reason
        - message
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        post_id:
          type: number
        reason:
          type: string
          enum:
            - borderline_quality
            - borderline_relevancy
            - other
        message:
          type: ["string", "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostEvents:
      type: object
      required:
        - id
        - creator_id
        - post_id
        - action
        - created_at
      properties:
        id:
          type: number
        creator_id:
          type: ["number", "null"]
        post_id:
          type: number
        action:
          type: string
          enum: *post-event-actions
        created_at:
          type: string
          format: date-time
        reason:
          type: string
          description: |
            Valid for: `deleted`, `flag_created`
        parent_id:
          type: number
          description: |
            Valid for: `favorites_moved`
        child_id:
          type: number
          description: |
            Valid for: `favorites_received`
        source_post_id:
          type: number
          description: |
            Valid for: `replacement_promoted`
        bg_color:
          type: string
          description: |
            Valid for: `changed_background_color`

    PostFlag:
      type: object
      required:
        - id
        - post_id
        - creator_id
        - reason
        - is_resolved
        - created_at
        - updated_at
        - is_deletion
        - type
      properties:
        id:
          type: number
        post_id:
          type: number
        creator_id:
          type: ["number", "null"]
        reason:
          type: string
        is_resolved:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_deletion:
          type: boolean
        type:
          type: string
          enum:
            - flag
            - deletion
    PostRecommendation:
      type: object
      required:
        - score
        - post
      properties:
        score:
          type: number
        post:
          $ref: "#/components/schemas/Post"
    PostReplacementRejectionReason:
      type: object
      required:
        - id
        - creator_id
        - reason
        - order
        - created_at
        - updated_at
      properties:
        id:
          type: number
        creator_id:
          type: number
        reason:
          type: string
        order:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostReplacement:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - post_id
        - creator_id
        - approver_id
        - file_ext
        - file_size
        - image_height
        - image_width
        - md5
        - source
        - file_name
        - status
        - reason
        - rejector_id
        - rejection_reason
        - file_url
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        post_id:
          type: number
        creator_id:
          type: number
        approver_id:
          type: ["number", "null"]
        file_ext:
          type: string
        file_size:
          type: number
        image_height:
          type: number
        image_width:
          type: number
        md5:
          type: string
        source:
          type: string
        file_name:
          type: string
        status:
          type: string
          enum:
            - prompted
            - approved
            - rejected
            - pending
        reason:
          type: string
        rejector_id:
          type: ["number", "null"]
        rejection_reason:
          type: string
        file_url:
          type: ["string", "null"]
    PostSampleAlternate:
      type: object
      required:
        - type
        - height
        - width
        - urls
      properties:
        type:
          type: string
          enum:
            video
        height:
          type: number
        width:
          type: number
        urls:
          type: array
          items:
            - type: ["string", "null"]
              format: "uri"
            - type: ["string", "null"]
              format: "uri"
    PostSet:
      type: object
      required:
        - id
        - name
        - shortname
        - description
        - is_public
        - transfer_on_delete
        - creator_id
        - post_ids
        - post_count
        - created_at
        - updated_at
      properties:
        id:
          type: number
        name:
          type: string
        shortname:
          type: string
        description:
          type: string
        is_public:
          type: boolean
        transfer_on_delete:
          type: boolean
        creator_id:
          type: number
        post_ids:
          type: array
          items:
            type: number
        post_count:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostVersion:
      type: object
      required:
        - id
        - post_id
        - tags
        - added_tags
        - removed_tags
        - locked_tags
        - added_locked_tags
        - removed_locked_tags
        - updater_id
        - updated_at
        - rating
        - rating_changed
        - parent_id
        - parent_changed
        - source
        - source_changed
        - description
        - description_changed
        - version
        - reason
        - original_tags
        - updater_name
        - obsolete_added_tags
        - obsolete_removed_tags
        - unchanged_tags
        - added_sources
        - removed_sources
        - obsolete_added_sources
        - obsolete_removed_sources
        - unchanged_sources
      properties:
        id:
          type: number
        post_id:
          type: number
        tags:
          type: string
        added_tags:
          type: array
          items:
            type: string
        removed_tags:
          type: array
          items:
            type: string
        locked_tags:
          type: ["string", "null"]
        added_locked_tags:
          type: array
          items:
            type: string
        removed_locked_tags:
          type: array
          items:
            type: string
        updater_id:
          type: number
        updated_at:
          type: string
          format: date-time
        rating:
          type: string
          enum: *ratings
        rating_changed:
          type: boolean
        parent_id:
          type: ["number", "null"]
        parent_changed:
          type: boolean
        source:
          type: string
        source_changed:
          type: boolean
        description:
          type: string
        description_changed:
          type: boolean
        version:
          type: number
        reason:
          type: ["string", "null"]
        original_tags:
          type: string
        updater_name:
          type: string
        obsolete_added_tags:
          type: string
        obsolete_removed_tags:
          type: string
        unchanged_tags:
          type: string
        added_sources:
          type: array
          items:
            type: string
        removed_sources:
          type: array
          items:
            type: string
        obsolete_added_sources:
          type: array
          items:
            type: string
        obsolete_removed_sources:
          type: array
          items:
            type: string
        unchanged_sources:
          type: array
          items:
            type: string
    PostVote:
      allOf:
        - $ref: "#/components/schemas/LockableUserVote"
        - type: object
          required:
            - post_id
          properties:
            post_id:
              type: number
    UserVote:
      type: object
      required:
        - id
        - user_id
        - score
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        score:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    QuickRule:
      type: object
      required:
        - id
        - rule_id
        - reason
        - header
        - order
        - created_at
        - updated_at
      properties:
        id:
          type: number
        rule_id:
          type: number
        reason:
          type: string
        header:
          type: string
        order:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RelatedTag:
      type: object
      required:
        - name
        - category_id
      properties:
        name:
          type: string
        category_id:
          type: number
          enum: *tag-categories
    RecordBuilder:
      type: object
      required:
        - section
        - quick_mod
        - rules
      properties:
        section:
          type: string
        quick_mod:
          type: array
          items:
            type: object
            required:
              - reason
              - header
              - rule
            properties:
              reason:
                type: string
              header:
                type: string
              rule:
                type: string
        rules:
          type: object
          patternProperties:
            "^[a-zA-Z0-9]+$":
              type: object
              required:
                - name
                - description
              properties:
                name:
                  type: string
                description:
                  type: string
    Rule:
      type: object
      required:
        - id
        - creator_id
        - updater_id
        - category_id
        - name
        - description
        - order
        - anchor
        - created_at
        - updated_at
      properties:
        id:
          type: number
        creator_id:
          type: number
        updater_id:
          type: number
        category_id:
          type: number
        name:
          type: string
        description:
          type: string
        order:
          type: number
        anchor:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RuleCategory:
      type: object
      required:
        - id
        - creator_id
        - updater_id
        - name
        - order
        - anchor
        - created_at
        - updated_at
      properties:
        id:
          type: number
        creator_id:
          type: number
        updater_id:
          type: number
        name:
          type: string
        order:
          type: number
        anchor:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    StaffAuditLog:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - user_id
        - action
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user_id:
          type: number
        action:
          type: string
          enum: *auditlog-actions
        reason:
          type: string
          description: |
            Valid for: `ip_ban_create`, `ip_ban_delete`
        title:
          type: string
          description: |
            Valid for: `user_title_change`
        target_id:
          type: number
          description: |
            Valid for: `staff_note_create`, `staff_note_update`, `staff_note_delete`, `staff_note_undelete`
        query:
          type: string
          description: |
            Valid for: `post_owner_reassign`, `stuck_dnp`
        post_ids:
          type: array
          description: |
            Valid for: `post_owner_reassign`, `stuck_dnp`
          items:
            type: number
        new_level:
          type: number
          description: |
            Valid for: `min_upload_level_change`
        old_level:
          type: number
          description: |
            Valid for: `min_upload_level_change`
        new_user_id:
          type: number
          description: |
            Valid for: ` post_owner_reassign`
        old_user_id:
          type: number
          description: |
            Valid for: `post_owner_reassign`
        staff_note_id:
          type: number
          description: |
            Valid for: `staff_note_create`, `staff_note_update`, `staff_note_delete`, `staff_note_undelete`
        body:
          type: string
          description: |
            Valid for: `staff_note_create`, `staff_note_update`
        old_body:
          type: string
          description: |
            Valid for: `staff_note_update`
        ip_addr:
          type: string
          description: |
            Valid for: `ip_ban_create`, `ip_ban_delete`
        comment_id:
          type: number
          description: |
            Valid for: `comment_vote_delete`, `comment_vote_lock`
        post_id:
          type: number
          description: |
            Valid for: `post_vote_delete`, `post_vote_lock`
        forum_post_id:
          type: number
          description: |
            Valid for: `forum_post_vote_delete`
        vote:
          type: number
          description: |
            Valid for: `comment_vote_delete`, `comment_vote_lock`, `post_vote_delete`, `post_vote_lock`, `forum_post_vote_delete`
        voter_id:
          type: number
          description: |
            Valid for: `comment_vote_delete`, `comment_vote_lock`, `post_vote_delete`, `post_vote_lock`, `forum_post_vote_delete`
    StaffNote:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - user_id
        - creator_id
        - body
        - is_deleted
        - updater_id
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user_id:
          type: number
        creator_id:
          type: number
        body:
          type: string
        is_deleted:
          type: boolean
        updater_id:
          type: number
    Stats:
      type: object
      required:
        - started
        - total_posts
        - active_posts
        - deleted_posts
        - existing_posts
        - destroyed_posts
        - total_votes
        - total_notes
        - total_favorites
        - total_pools
        - public_sets
        - private_sets
        - total_sets
        - average_posts_per_pool
        - average_posts_per_set
        - safe_posts
        - questionable_posts
        - explicit_posts
        - jpg_posts
        - png_posts
        - gif_posts
        - webp_posts
        - webm_posts
        - average_file_size
        - total_file_size
        - average_posts_per_day
        - total_users
        - anonymous_users
        - banned_users
        - restricted_users
        - member_users
        - trusted_users
        - former_staff_users
        - janitor_users
        - moderator_users
        - system_users
        - admin_users
        - owner_users
        - unactivated_users
        - total_dmails
        - average_registrations_per_day
        - total_comments
        - active_comments
        - hidden_comments
        - deleted_comments
        - average_comments_per_day
        - total_forum_threads
        - total_forum_posts
        - average_posts_per_thread
        - average_forum_posts_per_day
        - total_tags
        - general_tags
        - artist_tags
        - voice_actor_tags
        - copyright_tags
        - character_tags
        - species_tags
        - invalid_tags
        - meta_tags
        - lore_tags
      properties:
        started:
          type: string
          format: date-time
        total_posts:
          type: number
        active_posts:
          type: number
        deleted_posts:
          type: number
        existing_posts:
          type: number
        destroyed_posts:
          type: number
        total_votes:
          type: number
        total_notes:
          type: number
        total_favorites:
          type: number
        total_pools:
          type: number
        public_sets:
          type: number
        private_sets:
          type: number
        total_sets:
          type: number
        average_posts_per_pool:
          type: string
        average_posts_per_set:
          type: string
        safe_posts:
          type: number
        questionable_posts:
          type: number
        explicit_posts:
          type: number
        jpg_posts:
          type: number
        png_posts:
          type: number
        gif_posts:
          type: number
        webp_posts:
          type: number
        webm_posts:
          type: number
        average_file_size:
          type: string
        total_file_size:
          type: number
        average_posts_per_day:
          type: number
        total_users:
          type: number
        anonymous_users:
          type: number
        banned_users:
          type: number
        restricted_users:
          type: number
        member_users:
          type: number
        trusted_users:
          type: number
        former_staff_users:
          type: number
        janitor_users:
          type: number
        moderator_users:
          type: number
        system_users:
          type: number
        admin_users:
          type: number
        owner_users:
          type: number
        unactivated_users:
          type: number
        total_dmails:
          type: number
        average_registrations_per_day:
          type: number
        total_comments:
          type: number
        active_comments:
          type: number
        hidden_comments:
          type: number
        deleted_comments:
          type: number
        average_comments_per_day:
          type: number
        total_forum_threads:
          type: number
        total_forum_posts:
          type: number
        average_posts_per_thread:
          type: number
        average_forum_posts_per_day:
          type: number
        total_tags:
          type: number
        general_tags:
          type: number
        artist_tags:
          type: number
        voice_actor_tags:
          type: number
        copyright_tags:
          type: number
        character_tags:
          type: number
        species_tags:
          type: number
        invalid_tags:
          type: number
        meta_tags:
          type: number
        lore_tags:
          type: number
    Tag:
      type: object
      required:
        - id
        - name
        - post_count
        - category
        - related_tags
        - related_tags_updated_at
        - created_at
        - updated_at
        - is_locked
      properties:
        id:
          type: number
        name:
          type: string
        post_count:
          type: number
        category:
          type: number
          enum: *tag-categories
        related_tags:
          type: array
          items:
            type: string
        related_tags_updated_at:
          type: ["string", "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_locked:
          type: string
          format: date-time
    TagAlias:
      type: object
      required:
        - id
        - antecedent_name
        - consequent_name
        - creator_id
        - forum_topic_id
        - forum_post_id
        - status
        - created_at
        - updated_at
        - post_count
        - approver_id
        - reason
      properties:
        id:
          type: number
        antecedent_name:
          type: string
        consequent_name:
          type: string
        creator_id:
          type: number
        forum_topic_id:
          type: ["number", "null"]
        forum_post_id:
          type: ["number", "null"]
        status:
          type: string
          description: |
            Note: The "error" status will be proceeded by an error, ex: "error: Validation failed: A tag alias for tag_name already exists"
          enum: *tag-request-statuses
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        post_count:
          type: number
        approver_id:
          type: ["number", "null"]
        reason:
          type: string
    TagImplication:
      type: object
      required:
        - id
        - antecedent_name
        - consequent_name
        - creator_id
        - forum_topic_id
        - forum_post_id
        - status
        - created_at
        - updated_at
        - post_count
        - approver_id
        - descendant_names
        - reason
      properties:
        id:
          type: number
        antecedent_name:
          type: string
        consequent_name:
          type: string
        creator_id:
          type: number
        forum_topic_id:
          type: ["number", "null"]
        forum_post_id:
          type: ["number", "null"]
        status:
          type: string
          description: |
            Note: The "error" status will be proceeded by an error, ex: "error: Validation failed: A tag alias for tag_name already exists"
          enum: *tag-request-statuses
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        post_count:
          type: number
        approver_id:
          type: ["number", "null"]
        descendant_names:
          type: array
          items:
            type: string
        reason:
          type: string
    TagPreview:
      type: object
      required:
        - a
        - type
        - tagTypeA
      properties:
        a:
          type: string
          description: The name if type=tag, else the antecedent.
        b:
          type: string
          description: The consequent, only present if type=alias or type=implication.
        type:
          type: string
          enum:
            - tag
            - implication
            - alias
        tagTypeA:
          type: ["number", "null"]
          enum: *tag-categories
        tagTypeB:
          type: ["number", "null"]
          enum: *tag-categories
    TagVersion:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - category
        - is_locked
        - tag_id
        - updater_id
        - reason
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        category:
          type: number
          enum: *tag-categories
        is_locked:
          type: boolean
        tag_id:
          type: number
        updater_id:
          type: number
        reason:
          type: string
    Takedown:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - approver_id
        - status
        - reason_hidden
        - post_count
      properties:
        id:
          tpe: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        approver_id:
          type: ["number", "null"]
        status:
          type: string
          enum:
            - approved
            - denied
            - partial
            - pending
        reason_hidden:
          type: boolean
        post_count:
          type: number
    UploadWhitelist:
      type: object
      required:
        - id
        - pattern
        - note
        - reason
        - allowed
        - hidden
        - created_at
        - updated_at
      properties:
        id:
          type: number
        pattern:
          type: string
        note:
          type: string
        reason:
          type: string
        allowed:
          type: boolean
        hidden:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Upload:
      type: object
      required:
        - io
        - source
        - rating
        - uploader_id
        - tag_string
        - status
        - backtrace
        - post_id
        - created_at
        - updated_at
        - parent_id
        - md5
        - file_ext
        - file_size
        - image_width
        - image_height
        - description
        - uploader_name
        - direct_url
      properties:
        id:
          type: number
        source:
          type: string
        rating:
          type: string
          enum: *ratings
        uploader_id:
          type: number
        tag_string:
          type: string
        status:
          type: string
          description: |
            Note: The "error" status will be proceeded by an error, ex: "error: RuntimeError - No file or source URL provided"
          enum:
            - completed
            - duplicate
            - error
            - processing
            - pending
        backtrace:
          type: ["string", "null"]
        post_id:
          type: ["number", "null"]
          deprecated: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        parent_id:
          type: ["null", "number"]
        md5:
          type: ["string", "null"]
        file_ext:
          type: ["string", "number"]
        file_size:
          type: ["null", "number"]
        image_width:
          type: ["null", "number"]
        image_height:
          type: ["null", "number"]
        description:
          type: string
        uploader_name:
          type: string
        direct_url:
          type: string
    User:
      type: object
      required:
        - id
        - created_at
        - name
        - level
        - base_upload_limit
        - post_upload_count
        - post_update_count
        - note_update_count
        - level_string
        - avatar_id
        - can_approve_posts
        - unrestricted_uploads
        - disable_user_dmails
        - can_manage_aibur
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        name:
          type: string
        level:
          type: number
        base_upload_limit:
          type: number
        post_upload_count:
          type: number
        post_update_count:
          type: number
        note_update_count:
          type: number
        level_string:
          type: string
        avatar_id:
          type: ["number", "null"]
        can_approve_posts:
          type: boolean
        unrestricted_uploads:
          type: boolean
        disable_user_dmails:
          type: boolean
        can_manage_aibur:
          type: boolean
    UserBlock:
      type: object
      required:
        - id
        - user_id
        - target_id
        - hide_uploads
        - hide_comments
        - hide_forum_topics
        - hide_forum_posts
        - disable_messages
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        target_id:
          type: number
        hide_uploads:
          type: boolean
        hide_comments:
          type: boolean
        hide_forum_topics:
          type: boolean
        hide_forum_posts:
          type: boolean
        disable_messages:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    UserFeedback:
      type: object
      required:
        - id
        - user_id
        - creator_id
        - category
        - body
        - created_at
        - updated_at
        - updater_id
      properties:
        id:
          type: number
        user_id:
          type: number
        creator_id:
          type: number
        category:
          type: string
          enum: *feedback-categories
        body:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: number
    UserNameChangeRequest:
      type: object
      required:
        - id
        - status
        - user_id
        - approver_id
        - original_name
        - desired_name
        - change_reason
        - rejection_reason
        - created_at
        - updated_at
      properties:
        id:
          type: number
        status:
          type: string
          enum:
            - approved
        user_id:
          type: number
        approver_id:
          type: number
        original_name:
          type: string
        desired_name:
          type: string
        change_reason:
          type: string
        rejection_reason:
          type: "null"
          deprecated: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WikiPage:
      type: object
      required:
        - id
        - creator_id
        - title
        - body
        - is_locked
        - created_at
        - updated_at
        - updater_id
        - parent
        - creator_name
        - category_id
      properties:
        id:
          type: number
        creator_id:
          type: number
        title:
          type: string
        body:
          type: string
        is_locked:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: number
        parent:
          type: ["string", "null"]
        creator_name:
          type: string
        category_id:
          type: number
          enum: *tag-categories
    WikiPageVersion:
      type: object
      required:
        - id
        - wiki_page_id
        - updater_id
        - title
        - body
        - is_locked
        - created_at
        - updated_at
        - reason
        - parent
      properties:
        id:
          type: number
        wiki_page_id:
          type: number
        updater_id:
          type: number
        title:
          type: string
        body:
          type: string
        is_locked:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        reason:
          type: ["string", "null"]
        parent:
          type: ["string", "null"]
  responses:
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            required:
              - success
              - reason
            properties:
              success:
                type: boolean
                enum:
                  - false
              reason:
                type: string
                enum:
                  - "not found"
    AccessDenied:
      description: Access Denied
      content:
        application/json:
          schema:
            type: object
            required:
              - success
              - reason
            properties:
              success:
                type: boolean
                enum:
                  - false
              reason:
                type: string
                enum:
                  - "Access Denied"
    ExpectedError:
      description: Invalid Input Data
      content:
        application/json:
          schema:
            type: object
            required:
              - errors
            examples:
              - { "errors": { "key": [ "the error" ] } }
            properties:
              errors:
                type: object
                patternProperties:
                  "^[a-z]+$":
                    type: array
                    items:
                      type: string
    MessageError:
      description: Error
      content:
        application/json:
          schema:
            type: object
            required:
              - success
              - message
              - code
            properties:
              success:
                type: boolean
                enum:
                  - false
              message:
                type: string
              code:
                type: ["string", "null"]
  requestBodies:
    reorder:
     content:
       application/json:
         schema:
           type: array
           items:
             type: object
             required:
               - id
               - order
             properties:
               id:
                 type: number
               order:
                 type: number
    warning:
      content:
        application/json:
          type: object
          required:
            - record_type
          properties:
            record_type:
              type: string
              enum:
                - unmark
                - ban
                - record
                - warning

paths:
  # Artists
  /artists.json:
    get:
      summary: Search Artists
      tags:
        - Artists
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - name: search[order]
          in: query
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
              - updated_at
              - name
              - post_count
        - name: search[name]
          in: query
          schema:
            type: string
        - name: search[any_other_name_like]
          in: query
          schema:
            type: string
        - name: search[any_name_matches]
          in: query
          schema:
            type: string
        - name: search[any_name_or_url_matches]
          in: query
          schema:
            type: string
        - name: search[url_matches]
          in: query
          schema:
            type: string
        - name: search[creator_name]
          in: query
          schema:
            type: string
        - name: search[creator_id]
          in: query
          schema:
            type: string
        - name: search[has_tag]
          in: query
          schema:
            type: string
        - name: search[is_linked]
          in: query
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/Artist"
                    - type: object
                      properties:
                        urls:
                          type: array
                          items:
                            $ref: "#/components/schemas/ArtistURL"
    post:
      summary: Create Artist
      tags:
        - Artists
      security:
        - basicAuth: []
      description: |
        `other_names` & `urls` are silently truncated to 25 entries.
        `notes` is silently truncated to the wiki page limit (250,000).
        Individual `other_names` are silently truncated to 100 characters.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                other_names:
                  type: array
                  items:
                    type: string
                other_names_string:
                  type: string
                url_string:
                  type: string
                notes:
                  type: string
                linked_user_id:
                  type: ["number", "null"]
                  description: Only usable for Janitor+
                is_locked:
                  type: boolean
                  description: Only usable for Janitor+
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artist"
        403:
          $ref: "#/components/responses/AccessDenied"
        422:
          $ref: "#/components/responses/ExpectedError"
  /artists/{idOrName}.json:
    get:
      summary: Get Artist
      tags:
        - Artists
      parameters:
        - name: idOrName
          in: path
          required: true
          description: The ID or name of the artist to get.
          schema:
            type: ["number", "string"]
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Artist"
                  - type: object
                    properties:
                      urls:
                        type: array
                        items:
                          $ref: "#/components/schemas/ArtistURL"
                      domains:
                        type: array
                        items:
                          type: array
                          items:
                            - type: string
                            - type: number
                        examples:
                          - [["pawsmov.in", 1], ["furaffinity.net", 1]]
        404:
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Edit Artist
      tags:
        - Artists
      security:
        - basicAuth: []
      description: |
        If an artist is locked, you must be Janitor+ to edit them.
        `other_names` & `urls` are silently truncated to 25 entries.
        `notes` is silently truncated to the wiki page limit (250,000).
        Individual `other_names` are silently truncated to 100 characters.
      parameters:
        - name: idOrName
          in: path
          required: true
          description: The ID or name of the artist to edit.
          schema:
            type: ["number", "string"]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Only usable for Janitor+
                other_names:
                  type: array
                  items:
                    type: string
                other_names_string:
                  type: string
                url_string:
                  type: string
                notes:
                  type: string
                linked_user_id:
                  type: ["number", "null"]
                  description: Only usable for Janitor+
                is_locked:
                  type: boolean
                  description: Only usable for Janitor+
                rename_dnp:
                  type: boolean
                  description: Only usable for Owner+
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/ExpectedError"
    delete:
      summary: Delete Artist
      tags:
        - Artists
      security:
        - basicAuth: []
      description: |
        You must be an Admin or higher to delete an artist.
      parameters:
        - name: idOrName
          in: path
          required: true
          description: The ID or name of the artist to edit.
          schema:
            type: ["number", "string"]
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /artists/{idOrName}/revert.json:
    put:
      summary: Revert Artist
      tags:
        - Artists
      security:
        - basicAuth: []
      description: |
        If an artist is locked, you must be Janitor+ to revert them.
      parameters:
        - name: idOrName
          in: path
          required: true
          description: The ID or name of the artist to revert.
          schema:
            type: ["number", "string"]
        - name: version_id
          in: query
          required: true
          description: The version ID to revert to.
          schema:
            type: number
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/ExpectedError"
  # Artist Versions
  /artists/versions.json:
    get:
      summary: Search Artist Versions
      tags:
        - Artist Versions
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/ip_addr"
        - name: search[order]
          in: query
          description: The order of the results.
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
              - name
        - name: search[artist_name]
          in: query
          description: The name of the artist.
          schema:
            type: string
        - name: search[artist_id]
          in: query
          description: The id of the artist.
          schema:
            type: string
        - name: search[updater_name]
          in: query
          description: The name of the user that updated the artist.
          schema:
            type: string
        - name: search[updater_id]
          in: query
          description: The id of the user that updated the artist.
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ArtistVersion"
  # Artist URLs
  /artists/urls.json:
    get:
      summary: Search Artist URLs
      tags:
        - Artist URLs
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - name: search[order]
          in: query
          description: The order of the results.
          schema:
            type: string
            enum:
              - id
              - id_asc
              - id_desc
              - artist_id
              - artist_id_asc
              - artist_id_desc
              - url
              - url_asc
              - url_desc
              - normalized_url
              - normalized_url_asc
              - normalized_url_desc
              - created_at
              - created_at_asc
              - created_at_desc
              - updated_at
              - updated_at_asc
              - updated_at_desc
        - name: search[artist_name]
          in: query
          description: The name of the artist.
          schema:
            type: string
        - name: search[artist_id]
          in: query
          description: The id of the artist.
          schema:
            type: string
        - name: search[is_active]
          in: query
          description: If the artist url is active.
          schema:
            type: boolean
        - name: search[url]
          in: query
          description: The url.
          schema:
            type: string
        - name: search[normalized_url]
          in: query
          description: The normalized url. (http:, trailing `/`)
          schema:
            type: string
        - name: search[artist]
          in: query
          description: Legacy name for `search[artist_name]`.
          deprecated: true
          schema:
            type: string
        - name: search[url_matches]
          in: query
          description: Legacy name for `search[url]`.
          deprecated: true
          schema:
            type: string
        - name: search[normalized_url_matches]
          in: query
          description: Legacy name for `search[normalized_url]`.
          deprecated: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ArtistURL"
  # Avoid Posting Entries
  /avoid_postings.json:
    get:
      summary: Search Avoid Posting Entries
      tags:
        - Avoid Posting Entries
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/ip_addr"
        - name: search[order]
          in: query
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
        - name: search[creator_name]
          in: query
          schema:
            type: string
        - name: search[creator_id]
          in: query
          schema:
            type: string
        - name: search[any_name_matches]
          in: query
          description: Any name matching.
          schema:
            type: string
        - name: search[artist_name]
          in: query
          description: The artist name of the avoid posting entry.
          schema:
            type: string
        - name: search[artist_id]
          in: query
          description: The artist id for the avoid posting entry.
          schema:
            type: string
        - name: search[any_other_name_matches]
          in: query
          description: Any other name matching.
          schema:
            type: string
        - name: search[details]
          in: query
          description: The details of the avoid posting entry.
          schema:
            type: string
        - name: search[staff_notes]
          in: query
          description: The staff notes on the avoid posting entry. Must be Janitor+ to use.
          schema:
            type: string
        - name: search[is_active]
          in: query
          description: If the avoid posting entry is active.
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AvoidPosting"
    post:
      summary: Create Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must be Owner+.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - artist_name
              properties:
                artist_name:
                  type: string
                details:
                  type: string
                staff_notes:
                  type: string
                is_active:
                  type: boolean
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvoidPosting"
        403:
          $ref: "#/components/responses/AccessDenied"
        422:
          $ref: "#/components/responses/ExpectedError"
  /avoid_postings/{idOrArtistName}.json:
    get:
      summary: Get Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvoidPosting"
        404:
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Edit Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must be Owner+.
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                artist_name:
                  type: string
                details:
                  type: string
                staff_notes:
                  type: string
                is_active:
                  type: boolean
                rename_artist:
                  type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvoidPosting"
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/ExpectedError"
    delete:
      summary: Delete Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must be Owner+.
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /avoid_postings/{idOrArtistName}/deactivate.json:
    put:
      summary: Deactivate Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must be Owner+.
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /avoid_postings/{idOrArtistName}/reactivate.json:
    put:
      summary: Reactivate Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must be Owner+.
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  # Avoid Posting Versions
  /avoid_postings/versions.json:
    get:
      summary: Search Avoid Posting Versions
      tags:
        - Avoid Posting Versions
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - name: search[updater_ip_addr]
          in: query
[...]
