@import "../themes/base";

@import "../themes/extra_none";
@import "../themes/extra_autumn";
@import "../themes/extra_winter";
@import "../themes/extra_spring";
@import "../themes/extra_aurora";
@import "../themes/extra_hexagons";
@import "../themes/extra_space";
@import "../themes/extra_stars";

@function themed($key) {
  @return var(--#{$key});
}
