<div id="c-forum-categories">
  <div id="c-edit">
    <h1>Forum Category</h1>

    <%= render "form" %>
  </div>
</div>


<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  Edit Forum Category
<% end %>
