<div id="c-forum-categories">
  <div id="a-new">
    <h1>New Forum Category</h1>

    <%= render "form" %>
  </div>
</div>


<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  New Forum Category
<% end %>
