<h1>Order Rule Categories</h1>

<div id="sortable-rules-container">
  <%= render(partial: "sort", locals: { categories: @categories }) %>
</div>

<%= render partial: "rules/secondary_links" %>

<% content_for(:page_title) do %>
  Order Rule Categories
<% end %>
