<div id="c-tag-implications">
  <div id="a-edit">
    <h1>Edit Tag Implication</h1>

    <%= error_messages_for :tag_implication %>

    <%= render "form", tag_implication: @tag_implication %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Tag Implication
<% end %>
