<h1>Edit Tag Implication</h1>

<%= error_messages_for :tag_implication %>

<%= render "form", tag_implication: @tag_implication %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Tag Implication
<% end %>
