<div id="c-post-deletion-reasons">
  <div id="c-edit">
    <h1>Edit Post Deletion Reason</h1>

    <%= render "form" %>
  </div>
</div>


<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  Edit Post Deletion Reason
<% end %>
