<div id="c-post-deletion-reasons">
  <div id="a-new">
    <h1>New Post Deletion Reason</h1>

    <%= render "form" %>
  </div>
</div>


<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  New Post Deletion Reason
<% end %>
