<div id="c-tag-aliases">
  <div id="a-new">
    <h1>Tag Alias Request</h1>

    <%= error_messages_for :tag_alias %>

    <p>You can request a new tag alias be created. This will create a corresponding forum topic for community review.</p>

    <%= render "form", tag_alias: @tag_alias %>
  </div>
</div>

<%= render "tags/aliases/secondary_links" %>

<% content_for(:page_title) do %>
  Tag Alias Request
<% end %>
