<h1>Artist History</h1>

<%= render "search" %>
<%= render "standard_listing" %>
<%= numbered_paginator(@artist_versions) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Artist Versions
<% end %>
