<h1>New Message</h1>
<% if @dmail.original&.respond_to_id.present? && @dmail.original.is_automated? %>
  <p class="info">
    This message is being sent to <%= link_to(User.id_to_name(@dmail.original.respond_to_id), @dmail.original.respond_to) %>, the user that initiated the automated dmail.
  </p>
<% end %>
<%= render "form", dmail: @dmail %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Message
<% end %>
