$levels: (
  "blocked"
  "restricted"
  "member"
  "privileged"
  "former-staff"
  "janitor"
  "moderator"
  "system"
  "admin"
  "owner"
);

@each $level in $levels {
  a.user-#{$level}.with-style {
    color: themed("color-user-#{$level}");

    &:hover {
      color: themed("color-user-#{$level}-alt");
    }
  }
}

a.user-blocked.with-style {
  text-decoration: line-through;
}
