<h1>Order Quick Rules</h1>

<div id="sortable-rules-container">
  <%= render(partial: "sort", locals: { list: @quick }) %>
</div>

<%= render partial: "rules/secondary_links" %>

<% content_for(:page_title) do %>
  Order Quick Rules
<% end %>
